/* CSS code for styling PrayerTimes component with highlighted current prayer time */

* {
	text-align: center;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	background-image: radial-gradient(#ffffff 60%, #d1d1d1);
	background-size: cover;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.prayerTimes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 40px;
	padding: 40px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	background-color: #ffffff;
}

.locationForm form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 40px;
	padding: 40px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	background-color: #ffffff;
}

.locationForm input {
	margin: 10px;
	padding: 12px 20px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 4px;
	transition: border-color 0.3s ease-in-out;
	outline: none;
	border-color: #ccc;
}

.locationForm input:focus {
	border-color: #007bb5; 
}

.locationForm button {
	margin: 10px;
	padding: 12px 20px;
	font-size: 16px;
	background-color: #007bb5;
	color: #fff;
	border: 2px solid #007bb5;;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
	outline: none;
}

.locationForm button:hover {
	background-color: #005a8c;
}

.locationForm button:focus {
	border-color: #005a8c;
	background-color: #005a8c;
}

@media (max-width: 800px) {
	.locationFor {
		flex-direction: column;
	}
}

.dates {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #24292e;
	margin-bottom: 10px;
}

h1::after {
	content: '';
	display: block;
	height: 2px;
	width: 50px;
	background-color: #24292e;
	margin: 10px auto;
	margin-top: 20px;
}

p {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #586069;
	margin-right: 20px;
	margin-left: 20px;
}

.locationResult {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #d9534f; /* Red color for error indication */
	background-color: #f2dede; /* Light red background for visibility */
	border: 1px solid #ebcccc; /* Border color matching the background */
	padding: 12px 20px; /* Padding to make the message more noticeable */
	margin: 10px 0; /* Margin to separate it from other elements */
	border-radius: 4px; /* Rounded corners for a softer look */
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
	text-align: center; /* Center the text */
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transitions */
	max-width: 800px; /* Same max-width as locationForm */
	box-sizing: border-box; /* Include padding and border in width */
}

.locationResult:hover {
	background-color: #ebcccc; /* Slightly darker background on hover */
	color: #a94442; /* Darker red text on hover */
}

table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

thead {
	background-color: #f6f8fa;
	color: #24292e;
	font-weight: bold;
	text-decoration: underline;
}

th, td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #e1e4e8;
}

tbody tr {
	transition: background-color 0.3s ease-in-out;
}

tbody tr:hover {
	background-color: #e3e3e3;
}

h1 {
	margin-top: 0;
}

th, td {
	border: none;
	padding: 12px 20px;
}

td.highlight {
	background-color: #007bb5;
	color: #fff;
	transition: background-color 0.3s ease-in-out;
}

td.highlight:hover {
	background-color: #005a8c;
}